@layer theme, base, components, utilities;
@import 'tailwindcss';
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-green: green;
    ---default-font-family: 'Nunito', sans-serif;
}